<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.atlanmod.energy.estimation.engine.extension"
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon">
      <addon
            addonGroupId="General.AddonGroup"
            class="org.atlanmod.energy.estimation.engine.EngineAddon"
            id="org.atlanmod.energy.estimation.engine.addon"
            name="Energy estimation"
            shortDescription="Requires an energy estimation model as a parameter">
         <addon_booleanOption
               defaultValue="false"
               id="org.atlanmod.energy.estimation.engine.smm_metamodel"
               name="SMM to meta-model"
               shortDescription="Models the estimations with SMM, and attach estimations to the meta-model">
         </addon_booleanOption>
         <addon_booleanOption
               defaultValue="false"
               id="org.atlanmod.energy.estimation.engine.smm_model"
               name="SMM to model"
               shortDescription="Models the estimations with SMM, and attach estimations to the model.">
         </addon_booleanOption>
         <addon_stringOption
               defaultValue="SMMModel"
               id="org.atlanmod.energy.estimation.engine.smm_file"
               name="Model filename"
               shortDescription="XMI file destination to persist the SMM model.">
         </addon_stringOption>
      </addon>
   </extension>
   <extension
         id="fr.tblf.energy.estimation.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="fr.tblf.energy.menu"
               label="Energy">
            <menu
                  label="Estimation Model">
               <command
                     commandId="fr.tblf.energy.estimation.engine.setmodelcommand"
                     label="Set Model"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="fr.tblf.energy.estimation.engine.setModel"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.atlanmod.energy.estimation.ui.SetModelCommand"
            id="fr.tblf.energy.estimation.engine.setmodelcommand"
            name="setmodel">
      </command>
   </extension>
   <extension
         id="General.AddonGroup"
         name="EEL"
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon_group">
      <addonGroup
            id="General.AddonGroup"
            name="EEL">
      </addonGroup>
   </extension>

</plugin>
