/.PetrinetRuntimeModule.java._trace
/.PetrinetRuntimeModule.xtendbin
/.PetrinetStandaloneSetup.java._trace
/.PetrinetStandaloneSetup.xtendbin
/PetrinetRuntimeModule.java
/PetrinetStandaloneSetup.java
