<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated eel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.tblf.energy.estimation.eel.presentation.EelModelWizardID"
            name="%_UI_EelModelWizard_label"
            class="fr.tblf.energy.estimation.eel.presentation.EelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EelModelFile.gif">
         <description>%_UI_EelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated eel -->
      <editor
            id="fr.tblf.energy.estimation.eel.presentation.EelEditorID"
            name="%_UI_EelEditor_label"
            icon="icons/full/obj16/EelModelFile.gif"
            extensions="eel"
            class="fr.tblf.energy.estimation.eel.presentation.EelEditor"
            contributorClass="fr.tblf.energy.estimation.eel.presentation.EelActionBarContributor">
      </editor>
   </extension>

</plugin>
