<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="General.AddonGroup"
         name="EEL"
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon_group">
      <addonGroup
            id="General.AddonGroup"
            name="EEL">
      </addonGroup>
   </extension>
   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.engine_addon">
      <addon
            addonGroupId="General.AddonGroup"
            class="org.atlanmod.arduino.sequential.eventengine.EventAddon"
            id="org.atlanmod.arduino.sequential.eventengine.addon"
            name="Event addon"
            shortDescription="Change the behavior of the Arduino board at runtime to simulate events.">
      </addon>
   </extension>

</plugin>
