/.PetrinetDescriptionLabelProvider.java._trace
/.PetrinetDescriptionLabelProvider.xtendbin
/.PetrinetLabelProvider.java._trace
/.PetrinetLabelProvider.xtendbin
/PetrinetDescriptionLabelProvider.java
/PetrinetLabelProvider.java
