<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated petrinet -->
      <package
            uri="http://www.example.org/petrinet"
            class="org.naomod.tblf.petrinet.PetrinetPackage"
            genModel="model/petrinet.genmodel"/>
   </extension>

</plugin>
